<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KommDM_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KommDM_App.Properties.Settings>
            <setting name="gheuser" serializeAs="String">
                <value />
            </setting>
            <setting name="ghepwd" serializeAs="String">
                <value />
            </setting>
            <setting name="ghetoken" serializeAs="String">
                <value />
            </setting>
            <setting name="ghelink" serializeAs="String">
                <value>https://api-dev.allianz.de</value>
            </setting>
            <setting name="replacementtext" serializeAs="String">
                <value>type='xs:base64Binary'</value>
            </setting>
            <setting name="replacewith" serializeAs="String">
                <value>xmime:expectedContentTypes='text/xml'</value>
            </setting>
            <setting name="outputDirectory" serializeAs="String">
                <value>C:\Users\Default\</value>
            </setting>
            <setting name="refDirectory" serializeAs="String">
                <value>C:\Users\Default\</value>
            </setting>
            <setting name="importAtt" serializeAs="String">
                <value>&lt;xs:import namespace='http://www.w3.org/2005/xmlmime' schemaLocation='xmlmime-2005-05.xsd'</value>
            </setting>
            <setting name="namespaceAtt" serializeAs="String">
                <value>xmlns:xmime=http://www.w3.org/2005/05/xmlmime</value>
            </setting>
            <setting name="replacewithException" serializeAs="String">
                <value>xmime:expectedContentTypes='application/pdf, image/jpg'</value>
            </setting>
            <setting name="genDirectory" serializeAs="String">
                <value>C:\Users\Default\</value>
            </setting>
            <setting name="javasorterDirectory" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
        </KommDM_App.Properties.Settings>
    </userSettings>
</configuration>